/**.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
    width: 450px;
}
.sidebar-menu > li > a {
    padding: 7px 5px 7px 0px;
    display: block;
    border-left: 3px solid transparent;
    border-bottom: 2px solid #1222;

}
.sidebar-menu > li > a > .fa {
    width: 20px; }
.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
    color: #fff;}
.sidebar-menu > li > .treeview-menu {
    margin: 0; 
    padding: 0;
    background:#ccd1d1;
}
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
    margin-top: 3px;
    margin-right: 5px; }
.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;}
.sidebar-menu li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px; }
.sidebar-menu li.active > a > .fa-angle-left {
    transform: rotate(-90deg); }
.sidebar-menu li.active > .treeview-menu {
    display: block; background: #ccd1d1;}
.sidebar-menu a {
    text-decoration: none; }
.treeview .side-icon{border: none;width: 16px;height: auto;}
.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px; }
.sidebar-menu .treeview-menu .treeview-menu {
    padding-left: 20px; }
.sidebar-menu .treeview-menu > li {
    margin: 0; }
.sidebar-menu .treeview-menu > li > a {
    padding: 5px 15px 5px 14px;
    display: block;
    font-size: 13px;
    border-bottom: 1px solid #e3e3e3;
    color: #2A2A2A;
    background: #ccd1d1;
}
.sidebar-menu .treeview-menu > li > a > .fa {
    width: 20px; }
.sidebar-menu .treeview-menu > li > a > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .fa-angle-down {
    width: auto; }
.sidebar-menu .treeview-menu > li.active > a, .sidebar-menu .treeview-menu > li > a:hover {
    background-color: #bfbfbf !important;
    color: #444413;
    font-weight: bolder;
    font-size: 14px;
}
.treeview.active .treeview-menu.menu-open li {
    border-left: 2px solid #999;
}

**/