@import url('https://fonts.googleapis.com/css?family=Roboto'); 

body{
    font-family: Roboto,Helvetica,Arial,sans-serif !important;
    background-color: #C9CBCC;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
 
}

@media (min-width: 992px)
.navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.mr-auto, .mx-auto {
    margin-right: auto!important;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.top-matches button{
    overflow: hidden;
    width: 100%;
    padding: 6px 0px 4px 0px;
    margin: 0px 0px 0px 0px ;
    background: #26c6da;
    border: 1px solid #26c6da;
    -webkit-box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
    box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    position: relative;
    cursor: pointer;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 0;
    will-change: opacity, transform;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .3rem .75rem;
    font-size: .9rem;
    line-height: 1.25;
    border-radius: .25rem;
    color: #fff;
}

.top-matches button:focus{
    outline: none !important;
}

.top-matches .pad{padding: 8px 0 5px;
                  text-align: center;}
.top-matches .col-sm-2{width: 12.666667%;}
.top-matches .col-sm-3{width: 29%;}

.top-matches button .col-sm-3{width: 25%;}

.picked .theteam{color: #000;}
.picked .theodds{color: #000;}

.theteam{

    padding: 0;
    text-align: left;
    line-height: 15px;
    color: #fff;
    padding: 2px;
}

.theodds{
    padding: 0;
    text-align: left;
    color: #fff;
    font-weight: normal;
}

.compt {
    color: #5f5d5f;
    
}

.picked .compt {color:#fff;}

/*.web-element {
    display: block;
}*/

header {
    background: #24367e;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    font-size: 16px;
    margin-bottom: 0;
}

.top_header_logo {
    background-color: white;
    position: relative;
    z-index: 150;
    
}

.menu_header{
    /*background-color: #01BE6E;*/
    background-color: #101721;

}

.menu_nav_li{
    color:#ffffff;
}

.navbar-header{
    padding: 0px 15px 0 0;
    line-height: 65px;
    text-align: left;
    width: 240px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}
.navbar{
    padding: 0em 1em 0em 1em;
}
.inner {
    margin: 0 auto;
    line-height: 1.9em;
}
#navigation {
    right: 40px;
}

.login .row{
    margin: 0 !important;
    place-content: end;
}

.r-me{
    color: #01BE6E;
    opacity: 0.8;
    font-size: 10px;
}
.r-me input{
    margin: 0px;
    text-align: center;
    vertical-align: middle;
}
.login-btn{
    border: 0;
    border-radius: 1px;
    line-height: 29px;
    background-color: #01BE6E;
    float: left;
    color: #fff;
    font-size: 12px;
}

.login-btn-container{
    
}
a.reg{
    background: #101721;
    color: #fff;
    height: 29px;
    display: block;
    padding: 5px 10px 0px 10px;
    float: left;
    margin-left: 5px;
    border-radius: 0px;
    font-size: 12px;
}

span.below{
    display: block;
    
}

span.below:hover{
    color: #23dbdb !important;
    text-decoration: none;
}

.jp-banner{
    background: url('/images/jackpot.jpg') no-repeat;
    padding-top: 35px;
    padding-bottom: 35px;
}


a:hover{
    text-decoration: none;
}

.main-menu {
    float: right;
    font-size: 0;
    margin: 5px 0 0px 0px;
}
.main-menu li {
    position: relative;
}
.main-menu > li {
    display: inline-block;
    margin-left: 30px;
    padding: 2px 0;
}

.main-menu > li:hover > a, .main-menu > li.current-menu-item > a {
    color: #23dbdb;
}


.main-menu > li > a {
    color: #eee;
    font-size: 18px;
    line-height: 14px;
    padding: 30px 0;
    text-decoration: none;
    padding-left: 8px;
}

.main-menu > li > a:hover{
  color: #01BE6E !important;
}

.navbar-header b{
    line-height: 70px;
    display: inline-block;
}

img{
    vertical-align: middle;
}
.navbar-theme .navbar-nav .nav-link:hover, .navbar-theme .navbar-nav .show > .nav-link, .navbar-theme .navbar-nav .active > .nav-link {
    color: #fff !important;
    background-color:rgba(2, 11, 20, 0.6) ;
}

ul.navbar-nav li.nav-item a.hom {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px 10px 15px;
    text-transform: uppercase;
}

ul.navbar-nav li.nav-item a.hom .hover{
    background-color: yellow;
}
.header-holder {
    clear: both;
    overflow: auto;
    background: rgba(39, 65, 83, 1);
    padding: 5px 3px 10px 13px;
    border-bottom: 1px solid silver;
    color: #fff;
    text-transform: uppercase;
}
.lmenu.col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.gn.sidebar{
    width: 100%;
}

.header-login{
    background-color: #fff;
}
.header-login .hover{
    background-color: #fff;
}

.header-signup{
    background-color: #fff;
}
.header-signup .hover{
    background-color: #fff;
}

.match-list {
    background: #0f0f0f;;
    float: left;
    position: relative;
    max-width: 100%;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    color: #535353;


}

.match-list {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: .9rem;
}

.match-list .title{
    margin: 6px 2px 5px 2px;
    padding-left: 5px;
    padding-top: 5px;
}

.match-list .title span{
    border-bottom: none;
}

.match-list button.pick {
    padding: 2px 5px 2px 5px;

    width: 32.3%;
    font-size: 0.9em;
    margin-bottom: 10px;
    line-height: 27px;
}

.play-time{
    font-weight: bold;
    padding-left: 5px;
    letter-spacing: 2px;
    padding: 9px 20px 1px;
    font-size: 1.1em;
}

.match-list .head {
    padding-left: 5px;
    font-size: 1.2em;
    text-transform: capitalize;
    font-weight: 400;
    width: 100%;
    color: #F6d900;
    margin-bottom: 10px;
    padding-top: 10px;
}

.today_tomo{
    background:#606060;margin: 6px 2px 5px 2px;
}

.game-info{
    float:left;padding:3px;
    color:#000;
}

.slip-games{
    font-size: 13px;
    -webkit-appearance: unset;
    padding-left: 7px;
}

.slip-games-header{
    font-size: 100%;
}

.site-header{
    clear: both;
}

.head-logo{

    height: 75px;
    width: 192px;
    margin: 15px;
    border-radius: 10px;

}
.breadcrumb-container {
    background-color: transparent;
}

.np{
    padding: 0 !important;
}

.np-r{
    padding-right: 0 !important;
}

.np-l{
    padding-left: 0 !important;
}


/** left menu **/

.jp-banner .profile-text {
    position: relative;
    text-align: center;
    color: #f7d800 !important;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    display: block;
}
.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
nav{
    background: #272c33;
}
/** side bar menu nav **/

/*******************
sidebar navigation
******************/

.scroll-sidebar {
    padding-bottom: 0px; 
    background: #202222;
}

.collapse.in {
    display: block; }

.sidebar-nav {
    background: #fff;
    /**padding: 15px; **/ 
}
.sidebar-nav ul {
    margin: 0px;
    padding: 0px; 
}
.sidebar-nav ul li {
    list-style: none; 
    background-color: #000;
    border-bottom-color: #333;
    border-top: 0 solid #333;
    border-bottom: 1px solid #333;
}

.sidebar-nav ul li ul li{
    background: #0f0f0f;
    border: 1px solid transparent;
    border-bottom-color: #333;
    color: #fff;
    position: relative;
}
.sidebar-nav ul li a {
    color: #607d8b;
    padding: 5px 15px 2px 5px;
    display: block;
    font-size: 14px;
    border-radius: 1px;
    white-space: nowrap; 
}
.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
    color: #26c6da; }
.sidebar-nav ul li a.active {
    font-weight: 500;
    color: #081f36; }
.sidebar-nav ul li ul {
    padding-left: 0px;
    padding-top: 0px; }
.sidebar-nav ul li ul li a {
    padding: 5px 4px 7px 5px;
    font-size: 14px;
}
.sidebar-nav ul li ul ul {
    padding-left: 15px; }
.sidebar-nav ul li.nav-small-cap {
    font-size: 12px;
    margin-bottom: 0px;
    padding: 14px 14px 14px 20px;
    color: #99abb4;
    font-weight: 500; 
}
.sidebar-nav ul li.nav-devider {
    height: 1px;
    background: rgba(120, 130, 140, 0.13);
    display: block;
    margin: 0px 0; }
.sidebar-nav > ul > li {
    margin-bottom: 0px; 
    padding: 0px;
    line-height: 1.9
}
.sidebar-nav > ul > li.active > a {
    color: #ffffff;
    font-weight: 500;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
.sidebar-nav > ul > li.active > a i {
    color: #26c6da; }
.sidebar-nav > ul > li > a.active i, .sidebar-nav > ul > li > a:hover i {
    color: #26c6da; }
.sidebar-nav > ul > li > a i {
    width: 27px;
    height: 27px;
    font-size: 21px;
    display: inline-block;
    vertical-align: middle;
    color: #99abb4; }
.sidebar-nav > ul > li > a .label {
    float: right;
    margin-top: 6px; }
.sidebar-nav > ul > li > a.active {
    font-weight: 400;
    background: #ffffff;
    color: #26c6da; }

.sidebar-nav .has-arrow {
    position: relative; }
.sidebar-nav .has-arrow::after {
    position: absolute;
    content: '';
    width: .55em;
    height: .55em;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #FFFFFF;
    right: 1em;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
    -ms-transform: rotate(-45deg) translate(0, -50%);
    -o-transform: rotate(-45deg) translate(0, -50%);
    transform: rotate(-45deg) translate(0, -50%);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    top: 47%;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }

.sidebar-nav .active > .has-arrow::after,
.sidebar-nav li > .has-arrow.active::after,
.sidebar-nav .has-arrow[aria-expanded="true"]::after {
    -webkit-transform: rotate(-135deg) translate(0, -50%);
    -ms-transform: rotate(-135deg) translate(0, -50%);
    -o-transform: rotate(-135deg) translate(0, -50%);
    top: 45%;
    width: .58em;
    transform: rotate(-135deg) translate(0, -50%); }

/****************
When click on sidebar toggler and also for tablet
*****************/

@media (min-width: 768px) {
    .mini-sidebar .sidebar-nav #sidebarnav li {
        position: relative; }
    .mini-sidebar .sidebar-nav #sidebarnav > li > ul {
        position: absolute;
        left: 60px;
        top: 45px;
        width: 200px;
        z-index: 1001;
        background: #f2f6f8;
        display: none;
        padding-left: 1px; }
    .mini-sidebar .sidebar-nav {
        padding: 5px; }
    .mini-sidebar.fix-sidebar .left-sidebar {
        position: absolute; }
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul {
        height: auto !important;
        overflow: auto; }
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul,
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul.collapse {
        display: block; }
    .mini-sidebar .sidebar-nav #sidebarnav > li > a.has-arrow:after {
        display: none; }
    .mini-sidebar .left-sidebar {
        width: 60px; }
    .mini-sidebar .user-profile {
        padding-bottom: 15px;
        width: 60px;
        margin-bottom: 7px; }
    .mini-sidebar .user-profile .profile-img {
        padding: 15px 0 0 0;
        margin: 0px 0 0 6px; }
    .mini-sidebar .user-profile .profile-img:before {
        top: 15px; }
    .mini-sidebar .scroll-sidebar {
        padding-bottom: 0px;
        position: absolute; }
    .mini-sidebar .hide-menu,
    .mini-sidebar .nav-small-cap,
    .mini-sidebar .sidebar-footer,
    .mini-sidebar .user-profile .profile-text {
        display: none; }
    .mini-sidebar .nav-devider {
        width: 50px; }
    .mini-sidebar .sidebar-nav {
        background: transparent; }
    .mini-sidebar .sidebar-nav #sidebarnav > li > a {
        padding: 9px 15px;
        width: 50px; }
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a {
        width: 260px;
        background: #26c6da;
        color: #ffffff;
        border-color: #009efb; }
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a i {
        color: #ffffff; }
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a .hide-menu {
        display: inline; }
    .mini-sidebar .sidebar-nav #sidebarnav > li.active > a {
        border-color: transparent; }
    .mini-sidebar .sidebar-nav #sidebarnav > li.active > a.active {
        border-color: #009efb; } 

    .mini-sidebar .left-sidebar {
        position: fixed; 
    }
    .mini-sidebar .left-sidebar, .mini-sidebar .sidebar-footer {
        left: -240px; 
    }
    .mini-sidebar.show-sidebar .left-sidebar, .mini-sidebar.show-sidebar .sidebar-footer {
        left: 0px; 
    } 



}

/*******************
/*sidebar navigation
*******************/

.card-no-border .left-sidebar, .card-no-border .sidebar-nav {
    /**background: #272c33;**/
    background: transparent;
}

.card.card-no-border{
    border:none !important;
}

.mini-sidebar .sidebar-nav {
    background: transparent;
}


.sidebar-nav {
    /***background: #272c33;**/
}

.sidebar-nav ul li a {
    color: #fff;
}

.sidebar-nav ul li ul li a {
    color: #fff;
}

.sidebar-nav ul li ul li a span.label {
    display: inline;
    background: #232323;
    padding: 5px;
    line-height: 10px;
    font-size: 10px;
    position: absolute;
    right: 26px;
    top: 8px;
    min-width: 22px;
    text-align: right;
}

.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
    color: #26c6da;
}

.sidebar-nav ul li a.active {
    color: #ffffff;
}

.sidebar-nav ul li.nav-small-cap {
    color: #99abb4;
}

img.side-icon{
    width: 14px;
    height: 14px;
}
.sidebar-nav > ul > li.active > a, 
.sidebar-nav > ul > li.active:hover > a {
    color: #fff !important;
}

.sidebar-nav > ul > li.active > a i, 
 .sidebar-nav > ul > li.active:hover > a i {
    color: #f6d900;
}

.sidebar-nav > ul > li.active > a:after, .
sidebar-nav > ul > li.active:hover > a:after {
    border-color: #ffffff;
}

.sidebar-nav > ul > li > a.active i, 
.sidebar-nav > ul > li > a:hover i {
    color: #f6d900;
}

.sidebar-nav > ul > li > a i {
    color: #f6d900
}

.sidebar-nav > ul > li > a.active {
    font-weight: 400;
    background: #ffffff;
    color: #26c6da;
}
.fix-sidebar .left-sidebar {
    /**position: fixed;**/
}
.left-sidebar {
    
}

aside.left-sidebar {
    float: left;
    width: calc(19% - 20px); 
    /**width: 20%; **/
    margin-left: 10px;
    margin-right: 10px;
}
.left-sidebar {
    /**position: absolute;**/
    /**width: 240px;**/
    height: 100%;
    top: 0px;
    z-index: 1;
    /**padding-top: 141px; **/
    /**background: #fff;**/
    -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}

.topbar {
    position: relative;
    z-index: 150;
}
.page-wrapper {
    margin: auto;
    padding: 10px 0;
}

.container-fluid {
    margin-right: 0;
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 0;
    padding-right: 0;
}

.carousel-inner{
    height: 200px;
    overflow: hidden !important;
}

.home-scroll{
    margin-bottom: 5px;

}

.row.home-scroll, .row{
    margin-left: 0;
    margin-right:0;
    
}



/**end side bar nav **/

/**Middle content **/

.card-header {
    padding: .55rem .5rem;
    margin-bottom: 0;
    
}

.card-header:first-child {
    border-radius: 0;
}

.card-header, .card-footer, .jsgrid-header-row > .jsgrid-header-cell, .featured-plan .pricing-body {
    background-color: #01BE6E;
    border-top: 0 solid #333;
    border-bottom: 1px solid #333;
    overflow: hidden;
    color: #f6d900;
}

h4 {
    line-height: 22px;
    font-size: 18px;
    color: #fff;
}

.card-header h4{
    color: #fff !important;
    font-size: 100%;
} 


.color-bordered-table.purple-bordered-table {
    color: #fff;
    opacity: 0.8;
}

.color-bordered-table.purple-bordered-table thead{
    border-top: none !important;
    border-bottom: 1px solid #eee;
    color: #c0c0c0;
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    margin-top: 10px;
}

table {
    border-collapse: collapse;
}

table tr{
}
.font-14 {
    font-size: 13px;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.collapse.show {
    display: block;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem;
}

.table td, .table th{
    border-top: auto;
    border-color: rgba(120, 130, 140, 0.13);
    padding: .35rem;
    vertical-align: top;
}

.my-bets .table td, .table th{
    padding: .55rem 0.2em;
}

.col-md-4.bs {
    max-width: 28%;
    margin-left: 10px;
}
.card-outline-info .card-header {
    
}
.m-b-0 {
    margin-bottom: 0px;
}
.text-white {
    color: #ffffff !important;
}
.card-no-border .card {
    
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);

}

.place_bet_btn{
    margin-right: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 4px 10px;
    font-size: 100%;
    border-color: #01BE6E;
}

.btn-theme.place-bet-btn.remove{
   
    border-radius: 5px;
    padding: 3px 5px;
    margin: 0 0px 0 10px;
    padding: 3px 10px;
    width: auto;
    border-color: #01BE6E;
    background-color: #fff;
    color: #01BE6E;
}



.card {
    background: #f7f7f7;
    border:none;
    margin-bottom: 10px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-top-color: rgba(0, 0, 0, 0.125);
    border-right-color: rgba(0, 0, 0, 0.125);
    border-bottom-color: rgba(0, 0, 0, 0.125);
    border-left-color: rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
}
.feeds li > div {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
}
.bg-info {
    background-color: #FFF !important;
}
.feeds {
    margin: 0px;
    padding: 0px;
}
.feeds li:hover {
    background: #1E1E1E;
}
.feeds li {
    list-style: none;
    padding: 10px;
    display: block;
}

.markets .side {
    background-color: #f58c00;
    display: inline-block;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    line-height: 1.6;
    float: right;
    padding: 0px 10px;
    margin-top: 5px;
}
/**end middle content **/

/** login page **/

.errorMessage{
    display: block;
    background-color: #fff;
    color: red;
    padding: 5px 3px;
}

.bal-box{
    float: right;
}

.bal-box{
    text-decoration: none;
    color:#fff;
}

.bal-box .bal{
    color:#101721;
    text-align: right;
    font-weight: 500;
}
.bal-box .quick-links{
    margin: 5px;
    display: block;
    float: right;
    text-align: right;
    margin: 5px 0 0 0;
}


.bal-box .quick-links a{
    text-decoration: none;
    color:#01BE6E;
    margin: 0 0 0 10px;
}
.bal-box a.btn-outline-theme{
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #ccc;
}

table td a{
    text-decoration: none;
    color: #fff;
}

.my-bets table td a, .my-bets table td a:hover{
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;
}

table td a:hover{
    text-decoration: none;
    color: #fff;
}

.col-md-8.np {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}

.inslip{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

}

tr.mobile-view{
    display: table-row;
}



.btn-theme.place-bet-btn{
    border-color: none !important;
}


.betslip-error{
    margin: 8px 8px 0px 9px;
    border-radius: 0;
    font-size: 12px;
    padding: 5px;
}
.betslip-success{
    margin: 8px 8px 0px 9px;
    border-radius: 0;
    font-size: 12px;
    padding: 5px;
}

.sport-on-match-list .side-icon{
    width: 1.3em;
    height: 1.3em;
}

i.fa, i.fas{
    font-size: 14px;
    margin: 0px 4px 0px 0;
    color: #101721;
}

i.fas.fa-phone-volume{
    font-size: 24px;
    margin: 9px 12px;
}

ul.paybill{
    padding:10px;
}

ul li.safaricom{
    padding:0;
    list-style: none;
}

.safaricom img{
    width: 53px;
    height: 52px;
    padding: 0;
}
.safaricom .paybill{
    font-size: 2.8em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-weight: bold;
}
/** End left **/


.web-view{
    
}

.navbar-nav {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    padding: 15px 30px;
}

.mobile-view{
    visibility:hidden;
    display: none;
}

.top-matches button{
    background: #009B40;
    color: #fff;
    box-shadow: none;
    padding: 5px;
    width: 97%;
    font-size: 90%;
    border-radius: 2px;
    margin: 2px;
    height:40px;
}

.more-markets a{
    color: #FFF !important;
    display: block;
    padding: 5px 5px;
    font-weight: 550;
}

#markets{
     font-size: 75%;
     margin-bottom: 20px;
}

.tab-content-header-text.detail-page{
    text-align: center;
    color: #fff;
    width: 100%;
    font-size: 132%;
    line-height: 177%;
}
.tab-content-header-text.detail-page small{
    font-size: 70%;
}

.c-header{
    color: #ffeea8;
    line-height: 1.3;
    text-transform: uppercase;
    font-size: 65%;

}
.team-details{
    color: #fff !important;
    text-transform: capitalize;
    line-height: 2.4;
    
}


.tab-pane{
    padding: 0px 10px 10px 10px;
}

.m1x2h, .movu, .mdc{
    color: #fff;
    font-size: 81%;
    font-weight: 400;
    text-align: left;
    
}
.markets-desc .oddk.m1x2h{
    max-width: 24%;
}
.markets-desc .col-md-1.movu{
    text-align: center;
    padding: 0px 5px !important;
}
.movu{}

.mdc{}

.markets-desc{
    margin-top: 10px;
    opacity: 0.7;
    font-size: 95%;
}
.mg-column {
    font-size: 70%;
    text-align: left;
    font-weight: 300;
    color: #fff;
    line-height: 1.7;  
}

.mmkts{

}

.hrow{
    margin: 20px 0px;
    border-bottom: 1px solid #283442;
    font-size: 17px;
}

.btsps{
    float: right;
    padding: 0;
    margin-right: 5px;
    text-align: right;
}


@media screen and (max-width : 768px){
    .web-view{
        visibility:hidden;
        clear: both;
        display: none;
    }

    .mobi {
        display: block !important;
    }

    .odds-btn-label {
        color: #FF8300;
        font-size: 10px;
        font-weight: normal;
    }

    .show-sidebar .web-view.showonmobile{
        display: block;
        visibility: visible;
        left: -10px;
        width: 70%;
        z-index: 1000;
    }

    a.nav-toggler{

    }
    .c-header {
        color: #FF8300;
    }


    .fix-sidebar .left-sidebar {
        position: absolute;
        left: -10px;
        top: 45px;
    }

    .tab-content-header-text.detail-page {
        font-size: 100%;
    }

    .match-list .head{
        font-size: 1em;
    }

    .mobile-view{
        visibility:visible;
        display: block;
        width: 100%; 
        margin-top: 0px;
    }
    .mobi{
        visibility:visible;
        display: block;
    }
    .betmobile{
        margin: 0px 0px 0px 5px !important;
        max-width: 96% !important;
    }
    .top-login{
        visibility: hidden;
        display: none;
    }
    .navbar.top-navbar{
        padding: 0;
    }
    .carousel-item img{
        width: 99.7%;
    }
    .navbar-header{
        text-align: left;
        line-height: 25px;
        padding: 0px 0 0 0;
        display: inline-block;
        position: relative;
        float: left;
        width: 50%;
    } 
    .navbar-header .navbar-brand{
        
    }
    .navbar-header b{
        line-height: 25px;
    }

    .navbar-brand span{
        display: block;
    }
    .betslip-counter{
        position: relative;
        display: block;
        float: left;
        width: 50%;
        text-align: right;
    }

    .betslip-counter p{
        text-align: right;
        margin-top: 5px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .betslip-counter p a{
        color: #101721;
        text-decoration: none;
    }
    .navbar-header .navbar-brand img{
        height: 25px;
        vertical-align: top;
    }

    .site-header {
        height: all;
        clear: both;
    }
    .bal-box .bal{
        text-align: left;
        font-size: small;
        margin-left: 3px;
    }
    .bal-box .quick-links {
        text-align: left;
        font-size: small;
    }
    .bal-box .quick-links a {
        margin: 0 0 0 3px;
    }

    .navbar-nav {
        display: block;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .main-menu > li {
        display: inline-block;
        margin-left: 3px;
        padding: 0;
        margin-right: 10px;

    }

    .main-menu > li.web-view{
        display: none;
    }
     .main-menu > li > a.login-mobile{
        border: 1px solid #cccc;
        padding: 6px 10px;
        background: #9e9e9e;
        border-radius: 4px;
        color: #fff;
        font-weight: bold;
        opacity: 0.8;
    }
        
    .main-menu > li > a {
        color: #eee;
        font-size: 12px;
        line-height: 14px;
        padding: 10px 0;
        text-decoration: none;
    }

    .page-wrapper {
        margin-left: 5px !important;
    }

    .container-fluid {
        margin-top: 0;
    }

   
    .carousel-inner {
        height: 120px !important;
    }

    .col-md-8, col-md-8.np {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .nav-tabs .nav-item a{
        padding: .1rem 1.3rem;
    }

    .col-sm-4.mg-column{
        width: 25%;
        font-size: 82%;
    }
    .mobile-mkts {
        color: #7b7b7b;
    }
    .mg-column{
        font-size: 85%;
    }
    .col-12, .col-2, .col-8, .col-11, .col-3, .col-4, .col-6, .col-1{
        display: block;
        position: relative;
        float: left;
    }

    .m1x2h div{
        text-align: center;
        color: #9E9E9E;
        opacity: 1;
        font-size: 84%;
    }

    .more-markets a{
        padding: 0;
        font-size: 72%;
        display: table-cell;
        vertical-align: middle;
        padding-top: 5px;
    }

    .m1x2h, .movu, .mdc{
        font-size: 72%;
    }

    #markets{
        margin-bottom: 5px;
    }


    .top-matches button{
        background: #009B40;
        color: #fff;
        box-shadow: none;
        padding: 5px;
        width: 99%;
        font-size: 90%;
        border-radius: 2px;
        margin: 1px;
        height:40px;
    }

     .col-sm-8.mg-column{
        width: 75%;
        font-size: 82%;
    }

    .card-header h4 {
        font-size: 100%;
    }

    .team-details{
        padding: 0;
    }

    .hrow .col-11{
        width: 88%;
    }

    h4 {
        line-height: 12px;
        font-size: 12px;
    }

    .match-list{
        max-width: 100%;
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }
    
    .top-matches button {
        padding: .15rem .15rem;
        font-size: .7rem;
        line-height: 1.35;
    }
    
    .theteam.mobile-view{
        width: 60%;
    }

    .col-md-4.bs {
        max-width: 100%;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 3px;
    }

    .match-list button.pick {
        width: 48.5%;
    }
    
    .match-list button.pick.col-12 {
        width: 100%;
    }

    .card-header {
        padding: .45rem .35rem
    }
    
    .mini-sidebar .sidebar-nav #sidebarnav > li > ul {
        background: #181c22;
    }

    .tab-pane{
        padding: 0px 0px 0px 5px;
    }
    


}


#mobi-list {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

#mobi-list td, #mobi-list th {

    padding:0.7px 6px 13px 6px;
    font-size: 14px;
}

#mobi-list tr:nth-child(even){
    border-bottom: 1px solid #D0D0D0;
    margin-bottom: 10px;
}

#mobi-list tr:hover {}

#mobi-list th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #000080;
    color: white;
}

/**tabs **/
.nav-tabs .nav-link:not(.active):hover {
    border-color: transparent;
    background-color: transparent;
}

.nav-tabs .nav-link a:hover{
    background: transparent;
}

.nav-tabs .nav-item a{
    color: #fff;
    text-transform: uppercase;
    font-size: 85%;
    padding-bottom: 3px;
    line-height: 1.7;
}
.nav-tabs {
    border-bottom: 1px solid #333;
}
.nav-tabs .nav-link.active {
    color: #fff;
    border-color: transparent;
    border-bottom: 2px solid #01BE6E;
    display: block;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;
    background: transparent;

}
.tab-content-header{
    width: 100%;
    border-bottom: 1px solid #333;
    background: #000;
}

.tab-content-header-text{
    color: #fff;
    float: left;
    margin: 5px 0px;
    padding-left: 5px !important;
    font-size: 110%;
}

.header-1x2, .header-over-under{
    float: left;
    color: #fff;
    padding-top: 5px;
    width: 60%;
    text-align: center;
    opacity: 0.8;
}

.header-over-under{
    width: 40%;
}

.odds-pick{
    width: 75%;
    float: right;
}

/** End tabs **/
/** highlights display css **/

.more-markets{
    color: #c1c16d;
}


.market-haeders{
    color: #c1c16d;
    background: #434343;
    font-size: 92%;
}
.market-haeders div{
    text-align: left;
}


.market-label{
    display: block;
    padding: 6px 0px;
    text-align: center;
    width: 90%;
}


/** end highlights **/
.bs-1{

}
.payment-details{
    background:#1e1e1e;
}
.contacts{
    background: #222222;
    color: #fff;
}

/** login box **/
.top-login{ 
    width: auto;
}
.msisdn{

}
.form-control.msisdn{
    border-radius: 0;
    font-size: 10px;
}
.form-control.password{
    border-radius: 0;
    font-size: 10px;

}

.signup label, .login-form label,
.forgot-pass label {
    color: #fff;
    font-weight: normal;
    opacity: 0.8;
}

.signup input[type="text"], 
.signup input[type="number"], 
.signup input[type="password"], 
.login-form input[type="password"], 
.login-form input[type="number"],
.forgot-pass input[type="number"]
{
    border: 0;
    border-radius: 0;
    margin: 3px 0px 3px 0px;
}

input[type="checkbox"], p.check-boxes{
vertical-align: middle;
color: #fff;
}

.terms{
    color: #fff;
    font-size: 14px;
    line-height: 174%;
}

.carousel-item img{
    width: 100%;
    height: 100%;
}

.highlight-h{
    max-width: 40% !important;
    flex: 40%;
}


.container{
    max-width: 100% !important;
}

.topjpimg{
    background-color:#01BE6E;
    margin-bottom:5px;
    border-radius:0px;
    align-items:center;
    align-content:center;
    text-align: center;
}
.topjpimg .imgjp img{
    margin:5px;
    margin-top:5px;
    margin-bottom:0;
    width:100%;
    border-radius:5px;v
    vertical-align:middle;
    width: 66.66%;
}

.mobi-btn-mkt{
    text-align: left;
    padding: 0;
    padding-left: 5px;
}

.match-list.terms section.panel{
    color: #fff;
    padding: 10px;
}

#team-details .col-md-2{
    font-size: 79%;
}

.successMessage{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 5px;
    margin-bottom: 10px;
}

.light-logo{

    height: 70px;
}

.bg-green {
    color: #fff!important;
    background-color: #01BE6E;
}

.navbar {
    padding: 0px;
}

@media (min-width: 768px)
.navbar {
    border-radius: 0px!important;
}

@media (min-width: 992px)
.navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.forgot{
        color: #fff;
}

.footer-cs{

    background-image:url('../images/footer.jpg');
    color:white; margin-top:30px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    line-height: 1.5;
    padding: 10px 0px;
}

.foot-links a {

    color: #FFF;
}

.web-element {
    display: block;
}

.hidden-xs{
    display: none !important;
}

.form-control {
    display: block;
    width: 98%;
    height: 28px;
    padding: 0.375rem 0.75rem;
    font-size: 10px;
    line-height: 1.6;
    color: #090909;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.search-button button {
    width: 100%;
    border: none;
    padding: 2px;
    background: #090909 !important;
    text-transform: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    height: 29px;
}

.nopadding {
    padding: 0;
}

.bigger-list{
    color: #FFF !important;
}

.odd-value{
    float: right;
}

.odd-name{
    float: left;
}

.market-header{
    color: orange;
    font-weight: 550;
    font-size: 14px;
}