<?php 
//$slipCount = $this->session->get('betslip');
//$slipCount = sizeof($slipCount);
?>

<div class="card card-outline-info card-no-border bs-1 ">

  
    <div class="alert alert-success ss betslip-success" role="alert" style="display:none">
        
    </div>
    <div id="betslip" class="betslip ">

    </div>
    <div class="col-md-12 np">
     <!-- loader -->
     <div class="loader col-md-12 p1" style="display:none">
      <img src="/images/loader.gif" class="loader">
     </div>
    <!-- end loader -->
    <!-- error message holder -->
    <div class="alert alert-danger ss betslip-error" role="alert">
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">X</span></button>
        You have insufficient balance please top up
    </div>
    <!-- end holder -->
    <div class="col-md-11 btsps pull-right">
    <button class="btn btn-theme  place-bet-btn remove" type="button" onclick="clearSlip()">
        Clear Slip
    </button>
    {% if session.get('auth') != null %}
        <!-- <div class="border rounded p-2 bg-light"> -->
        <?php if($jackpotSlip == 1){ ?>

        <input type="hidden" id="jackpot_id" name="jackpot_id" 
        value="<?php echo $jackpotID; ?>">  
        <input type="hidden" id="jackpot_type" name="jackpot_type" 
        value="<?php echo $jackpotType; ?>"> 
        <input type="hidden" id="total_matches" name="total_matches" 
        value="<?php echo $totalMatches; ?>"> 

        <button id="place_bet_button" type="button"  class="btn btn-theme  place-bet-btn " 
        onclick="jackpotBet()">Place Bet</button>
    </div>
        <?php } else { ?>
            <input id="place_bet_button" class="btn btn-theme  place-bet-btn " type="submit" 
            value="Place Bet" onclick="placeBet()">
        <?php } ?>
        <!-- </div> -->
    {% else %}
        <!-- <div class="border rounded p-2 bg-light"> -->
            <a   href="{{ url('login') }}" class="btn btn-theme place_bet_btn">Login to Bet</a>
       <!--  </div> -->

        <!--    
        <div class="border rounded p-2 bg-light">
            <div id="lg-fi" style="display:block;">

                <p>login to place a bet</p>
                <?php echo $this->tag->form("login/authenticate"); ?>
                <p>
                    <?php echo $this->tag->numericField(["mobile","placeholder"=>"07XX XXX XXX","class"=>"form-control"]) ?>
                </p>
                <p>
                    <?php echo $this->tag->passwordField(["password","name"=>"password","class"=>"form-control","placeholder"=>"Password"]) ?>
                </p>
                <div class="col-sm-12 zero-padding">
                    <div  ><?php echo $this->tag->submitButton(["Login","class"=>"btn btn-theme"]) ?></div>
                    <div ><a href="{{ url('signup') }}">Join now</a></div>
                </div>

                </form>
            </div>
        </div>
-->            {% endif %}
    </div>
</div> <!-- Betslip buttons closeup -->

<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> 4e0662118f6c689d242caed857ee9848775cfe7d
