<?php 
$totalOdds=1; 
?>

<script type="text/javascript">
    //     var data = <?php echo sizeof($betslip) ?: 0; ?>;
    //     $(".slip-counter").animate({opacity:'0.8'});
    //     $(".slip-counter").html(data);
    //     $(".slip-counter").animate({opacity:'1'});
    // </script>
<div class="bet-body"> 
        <?php 
        $betslip = $this->session->get('betslip'); 
        $matchCount = 0;
        $bonus = 0;
        $bonusOdds = 1;
        ?>  
        <?php foreach((array)$betslip as $bet): ?>

        <?php 

        $odd = $bet['odd_value'];

        if($bet['bet_pick']=='x'){
            $pick = 'DRAW';
        }else if($bet['bet_pick']=='2'){
            $pick = $bet['away_team'];
        }else if($bet['bet_pick']=='1'){
            $pick = $bet['home_team'];
        }
        else{
            $pick = $bet['bet_pick'];
        }

        if($bet['odd_value']>=1.6){
        $bonusOdds*=$odd;
        $matchCount++;
        }

        $totalOdds = round($totalOdds*$odd,2);

        ?> 

    <li class="bet-option">
        <div class="bet-cancel">
            <input id="<?php echo $bet['match_id']; ?>" type="submit" value="X" onclick="removeMatch(this.id)">  
        </div>
        <div class="bet-value"><?php echo $bet['home_team']." v ".$bet['away_team']; ?>
            <br><span class="sp_sport" style=""></span>
        </div>
        <span class="clearfix">
            <?php echo $bet['odd_type']; ?>
        </span>
        <div class="bet-pick">
            Pick : <?= $pick; ?>
            <span class="bet-odd"><?php echo $bet['odd_value']; ?></span>
        </div>

    </li>
        <?php endforeach; ?>


</div>
<form>
    <table class="bet-table">
        <!--<tr>
            <td></td>
            <td><button class="reset-btn" type="button" onclick="javascript: deselect_all();">REMOVE ALL</button></td>
        </tr>-->
        <tbody>
            

            <tr class="bet-win-tr">
                
                <td>
                    <span id="bonus_win">
                    <?php
                    switch ($matchCount) {
                        case 5:
                        $bonus = 5;
                        break;
                        case 6:
                        $bonus = 10;
                        break;
                        case 7:
                        $bonus = 15;
                        break;
                        case 8:
                        $bonus = 20;
                        break;
                        case 9:
                        $bonus = 25;
                        break;
                        case 10:
                        $bonus = 30;
                        break;
                        case 11:
                        $bonus = 35;
                        break;
                        case 12:
                        $bonus = 40;
                        break;
                        case 13:
                        $bonus = 45;
                        break;
                        case 13:
                        $bonus = 50;
                        break;
                        default:
                        $bonus = 0;
                        break;
                    }
                    
                    if($matchCount>=5)
                      echo "";
                    else{
                    echo "";
                    }
                    ?></span></td>
            </tr>
            <tr>


 <td><button class="place-bet-btn" type="button" onclick="clearSlip()">REMOVE ALL</button></td>                      

            </tr>
        </tbody></table>

    <div class='alert alert-danger alert-dismissible ss betslip-error' role='alert'>
        <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>×</span></button>You have insufficient balance please top up</div>

    <input type="hidden" id="max_win" value="200000"> 
    <input type="hidden" id="minimum_bet" value="50"> 
    <input type="hidden" id="user_id" value="{{session.get('auth')['id']}}">
    <input type="hidden" id="total_odd" value="<?php echo $totalOdds; ?>">
    <input type="hidden" id="max_multi_games" value="20">

</form>
