        {{ stylesheet_link('css/bootstrap.min.css') }}
        {{ stylesheet_link('css/toolkits.css') }}
        {{ stylesheet_link('css/applications.css') }}
        {{ stylesheet_link('css/sidebar-menu.css') }}