<div class="">
<div class="panel-header">
  <h2>My bets</h2>
</div>
	<div class="table-responsive"> 
	{{ this.flashSession.output() }}
	<table class="table"> 
	<thead class="table-h"> 
	<tr> <th>ID</th> <th>Type Bet</th> <th>Bet Amount</th> <th>Status</th> </tr> 
	</thead> 
	<tbody> 
	<?php foreach($myBets as $bet): ?>
	<tr class='clickable-row' data-href="mybets?id=<?= $bet['bet_id'] ?>"> 
		  <td><a href="mybets?id=<?= $bet['bet_id'] ?>"><?= $bet['bet_id'] ?></a></td>
		  <td><a href="mybets?id=<?= $bet['bet_id'] ?>"><?php 
		  if($bet['total_matches']>1){
			echo "Multi Bet";
		  }else{
		  	echo "Single Bet";
		  }
		  ?></a></td> 
		  <td><a href="mybets?id=<?= $bet['bet_id'] ?>"><?= $bet['bet_amount'] ?></a></td> 
		  <td><a href="mybets?id=<?= $bet['bet_id'] ?>">
		  <?php
		   if($bet['xstatus']==1){
			echo 'Pending results';
   		    }elseif($bet['xstatus']==5){
                echo 'Won';
		   }elseif($bet['xstatus']==3){
			echo 'Check Slip';
		   }elseif($bet['xstatus']==4){
			echo 'Cancelled';
		   }elseif($bet['xstatus']==9){
			echo 'Pending Jackpot';
		   }else{
			echo 'Check Slip';
		   }
		   ?></a></td> 
	</tr> 
	<?php endforeach; ?>
	</tbody> 
	</table> </div>
</div>
