<div class="">
<div class="panel-header">
  <h2>Sports (A-Z)</h2>
</div>
<?php 
$id=''; 
$categoryID='';
$competitionID='';
?>
<ul class=" aoi nav">
<?php foreach($sports as $sp): ?>
<?php if($id!=$sp['sport_id'] && $sp['sport_id'] != '14'): ?>
<li class="">
<a href="#" class="yellow-bg">
<span class=""> {{sp['sport_name']}} </span>
</a>
<ul class="sport">
<?php $id=$sp['sport_id']; ?>

      
<?php foreach($sports as $s): ?>

  <?php $url=@$sportType[$s['sport_id']].'?id='.@$s['competition_id']; ?>
  <?php if($id == $s['sport_id'] && $categoryID != $s['category_id']): ?>
      <li class=""><a href="{{url(url)}}">
     <span class="gothb"> {{s['category']}} </span>
      </a>

      <ul class="sport">
      <?php $categoryID=$s['category_id']; ?>
      <?php foreach($sports as $st): ?>
        <?php 
        $url=@$sportType[$s['sport_id']].'?id='.@$st['competition_id']; 
        $competitionID=$st['competition_id'];
        ?>
        <?php if($categoryID == $st['category_id']): ?>
            <li><a href="{{url(url)}}">
            <span> {{st['competition_name']}} </span>
            </a></li>
        <?php endif; ?>
        <?php $categoryID=$s['category_id']; ?>
      <?php endforeach; ?>
      </ul>

      </li>
  <?php endif; ?>
<?php endforeach; ?>
</ul>
</li>
<?php endif; ?>

<?php endforeach; ?>
</ul>

</div>