        <section class="panel">            
            <div class="panel-body">
<p><strong>ScorePesa SPORTS BETTING</strong></p>
<p><strong>TERMS &amp; CONDITIONS </strong></p>
<p>These general Terms and Conditions ("Terms and Conditions" or "T&amp;C") shall be valid for all betting games offered by ScorePesa. By using our SMS and/or visiting any section of the Website, or by opening an account with ScorePesa through the Website, or SMS, you agree to be bound by the Terms and Conditions.</p>
<p>ScorePesa reserves the right to change these Terms and Conditions at any time and without prior notice and will endeavor to inform you about major modifications to the Terms and Conditions. We may need to change the Terms of Use from time to time for a number of reasons, including (without limitation) for commercial reasons, to comply with law or regulations, to comply with instructions, guidance or recommendations from a regulatory body, or for customer service reasons.</p>
<p>The user is responsible in ensuring that they don&rsquo;t infringe on any laws in their jurisdiction when opening an account and conducting business with ScorePesa at all times during the subsistence of their subscription/ participation.</p>
<p>ScorePesa will accept no liability from third parties whatsoever, resulting from you providing incorrect or false data.</p>
<p>One customer may open only one account. Should we identify any customer with more than one account, we reserve the right to close these accounts. If ScorePesa detects multiple accounts which have been setup deliberately with misleading information, have displayed criminal behavior, or if ScorePesa concludes that the account-owner has fraudulent intentions, ScorePesa shall be entitled to close the accounts and confiscate all funds, including initial deposit.</p>
<p>ScorePesa reserves the right to undertake the following:</p>
<ol>
<li>verifying the your identity</li>
<li>verifying your gaming activity</li>
<li>conduct security and other internal procedures in relation to your account</li>
<li>ensure that prizes offered have been adhered to</li>
</ol>
<p><strong>DEFINITIONS </strong></p>
<p>In these rules the following words have the following meanings unless the context requires otherwise</p>
<p>We, Us, Our : means ScorePesa (product) and our offices are at Jetro Chambers, Westlands.</p>
<p>Bet : means the staking of money on the prediction of the outcome of a sporting event offered by us.</p>
<p>A bet can include one or more predictions. A bet on one outcome is a single. A bet on many different outcomes is a multiple.</p>
<p>Odds or Price : means the return on the money staked should the prediction recorded in a Bet be correct. A winning price of 2 would return double to the stake to the customer.</p>
<p>Customer : means anyone placing a bet with ScorePesa or any other services hosted or sponsored by said company.</p>
<p>User : means anyone using this service</p>
<p>Full time (FT) : means the point when the official 90 minutes of a full match has elapsed plus any 'Injury Time' that the referee chooses to add and shall NOT include scheduled extra time (two half times of 15 minutes each), penalty shoot-outs etc.</p>
<p>VOID : means that for one reason or another the bet is not acceptable to ScorePesa. In these cases, this bet is settled at the price of 1. In the case of a single bet this would mean the stake is returned to the customer.</p>
<ol>
<li><strong>IDENTITY OF CUSTOMERS</strong></li>
</ol>
<p>Your mobile phone number is your identity. The identity of customers is determined by mobile phone number. We strongly encourage all customers to sign up for identity programs administered by the mobile phone companies. We use mobile phone numbers to uniquely identify customers and their account details. If transactions are made via your phone by someone who is not the registered user, the registered user will remain liable for their transactions. In addition, we cannot do account transactions for accounts which are not identical to the phone number. This means that you cannot, for example, ask to be paid out on a different number other than the number you have placed a bet with; also you cannot send money to us and request that this is placed in a different account. In addition to your phone number your initial transaction will initiate the creation of a virtual account to which all monies added to the cause of betting will be held.</p>
<p>Note: This is not a standard banking account and it shall not be used to keep money other than the use to place bets.</p>
<ol start="2">
<li><strong>AGE RESTRICTION</strong></li>
</ol>
<p><strong>The Law prohibits under 18 year olds from betting</strong>. We may at any time ask you to confirm your age. You indemnify us of any damages if you deceive us or misrepresent your age. <strong>Underage clients will have their accounts closed immediately and any balances forfeited</strong>. We may also suspend ANY account for any reason and ask you to come with ID to one of our offices or agents to prove age, and identity. Individuals suspecting underage gambling are encouraged to report this to us immediately on our customer service number or via email to support@ScorePesa.co.ke</p>
<ol start="3">
<li><strong>ACCOUNT SECURITY</strong></li>
</ol>
<p>Customers are the registered user of their mobile number and Account. Customers are responsible for the security of their phone numbers, Account details and their mobile money accounts. We strongly recommend that customers do not disclose any security sensitive information to any other person. In the event that an unauthorized person uses a customer's phone for betting or money transactions to us, the registered user remains responsible.</p>
<p>We may also ask you to identify yourself and collect your winnings at one of our premises if we so require.</p>
<ol start="4">
<li><strong>PRICING</strong></li>
</ol>
<p>Customers will incur charges when using SMS services. We keep these as low as possible, currently at Ksh. 2 for each SMS you receive from us on any of the participating networks. The minimum bet amount is Kshs. 50 for single bets and multibets. Jackpot betting is at a fixed stake of Kshs. 50.</p>
<ol start="5">
<li><strong>ACCEPTANCE AND VALIDATION OF BETS</strong></li>
</ol>
<p>All football bets will be settled on 90 minutes&rsquo; play (also referred to as Full-time and normal time). This denotes the period of play which includes time added by the Referee for injuries and other stoppages. This does not include scheduled extra time, or Penalty shoot-outs, if played.</p>
<p>In matches where penalty shoot outs or extra time are due to take place, all bets are settled on 90 minutes unless an Outright price is specifically requested and confirmed at the time the bet is placed.</p>
<p>Where ScorePesa have not quoted prices on a match, any single bet on that match will be void and treated as a non-runner in multiple bets.</p>
<p>If any team starts a 90-minute competitive game with less than 11 players, all bets on that match will be made void.</p>
<ol start="6">
<li><strong>LATE BETS</strong></li>
</ol>
<p>Bets can only be placed on the outcome of a future event, unless we are offering special 'betting in-running prices' for that event. If ScorePesa mistakenly accepts a bet for an event that has already started then the bet will be void and your stake returned, except in the following circumstances:</p>
<p>- Where bets are taken after the start of an event, bets will stand if nothing has happened which would significantly alter the chances of the selection winning or losing.</p>
<p>&nbsp;All bets placed after the result of an event is known will be void win or lose.</p>
<p>Internet bets include bets placed on any of our remote channels including our www.ScorePesa.co.ke website and via SMS. In the case of such bets, the bet is struck when a bet id or receipt exists in our back end systems or database. We may refuse to take bets placed if they are deemed wrong or mistaken.</p>
<ol start="7">
<li><strong> BET CANCELLATION</strong>&nbsp;</li>
</ol>
<p>By placing a bet, you confirm your willful intention to conclude such a transaction. Therefore, once a bet has been placed successfully, it CANNOT be cancelled.</p>
<ol start="8">
<li><strong>ACCOUNT CORRECTIONS</strong></li>
</ol>
<p>ScorePesa has the right to recover from you any amount overpaid and has your authority to adjust your account to reflect the true outcome and rectify the mistake. An example of such a mistake might be where a price is incorrect, a bet is late (see Acceptance and Validation of Bets), where a maximum payout limit has been reached and paid out erroneously or where we enter a result of an event incorrectly.</p>
<ol start="9">
<li><strong>DISPUTES</strong></li>
</ol>
<p>If you have a complaint; you can email customer support on support@scorepesa.co.ke and if your query or complaint is not resolved, you can ask for the matter to be escalated to the Head of Betting Operations. The Head of Betting Operations will investigate and contact you back with a resolution within 48 hours. You will be given the name and status of the people to whom your query/complaint has been referred. If you remain dissatisfied we may agree with you to refer the matter to an independent third body for arbitration.</p>
<p>ScorePesa will at all times apply best efforts to resolve a reported matter promptly.</p>
<p>If you have a query with regard to any transaction, you may also contact ScorePesa at support@scorepesa.co.ke with details of the query. ScorePesa will review any queried or disputed transactions.</p>
<p>If for some reason you are not satisfied with the resolution of the complaint by the Company, you can complain to the Betting Control and Licensing Board ("BCLB"). Kindly note that by contacting the BCLB you are confirming that you have not breached any of the ScorePesa Terms and Conditions as agreed to by you upon registration to our service.</p>
<p>In all other times where a dispute arises, parties shall refer the matter for Arbitration by a single arbitrator agreed by the parities where the chosen venue shall be Nairobi. Where there is no agreement each party shall appoint an arbitrator and the nominated arbitrators shall appoint a single arbitrator and</p>
<p>where they are unable to agree the Chairman for the time being of the Kenyan Chapter of Chartered Institute of Arbitrators shall appoint one.</p>
<p>Offensive or rude language, as well as malicious or damaging comments, will not be tolerated while contacting our staff or while discussing our products and services in any media, social network or forum. Any infringement of this policy will result in a suspension of the Account or in every additional action as may be required in order to ensure compliance.</p>
<ol start="10">
<li><strong>ERRORS</strong></li>
</ol>
<p>ScorePesa makes every effort to ensure that we do not make errors in accepting bets. However, if as a result of human error or system problems a bet is accepted at a price (which includes the odds, handicap provisions, and other terms and conditions or details of the bet) that is:</p>
<p>materially different from those available in the general market at the time the bet was made; or clearly incorrect given the chance of the event occurring at the time the bet was made then ScorePesa will pay winnings at the correct price.</p>
<p>To establish the correct price ScorePesa will consider prices available in the general market at the time the bet was made, including the prices offered by other bookmakers operating in the same market.</p>
<p>Examples of circumstances where this would apply are:</p>
<ol>
<li>the price is recorded as 100-1 when the price on offer in the general market is 10-1</li>
<li>the margins for handicap betting have been reversed</li>
</ol>
<p>&nbsp;If a bet is accepted in error by ScorePesa on an event or outcome for which no ScorePesa prices are available, the bet will be void and your stake returned.</p>
<p>A bet accepted on the website or via SMS does not constitute a legally binding contract between the customer and us. The prices we offer on all outcomes on display on this website take the form of an advertisement rather than a contractual term. If we offer mistaken prices, then we are entitled to decline any bet placed at those prices at any time. In such instances we will void the bet and return the stake money.</p>
<p>Any results or scores displayed on the site for example during betting in play are for guidance purposes only.</p>
<ol start="11">
<li><strong>FRAUD </strong></li>
</ol>
<p>ScorePesa will seek criminal and contractual sanctions against any customer involved in fraud, dishonesty or criminal acts. ScorePesa will withhold payment (including but not limited to possible payouts and bet amount) to any customer where any of these are suspected.</p>
<p>The customer shall indemnify and shall be liable to pay to ScorePesa, on demand, all costs, charges or losses sustained or incurred by ScorePesa (including any direct, indirect or consequential losses, loss of</p>
<p>profit and loss of reputation) arising directly or indirectly from the customer&rsquo;s fraud, dishonesty or criminal act.</p>
<ol start="12">
<li><strong>PRICE CHANGES</strong></li>
</ol>
<p>All prices are subject to change and may, on occasion, be restricted to certain stake levels. The prices offered via our different business channels may vary.</p>
<ol start="13">
<li><strong>RESULTS</strong></li>
</ol>
<p>In the case of Football and other Sports, bets are settled on the official result published by the relevant event managers or result handlers 3 to 24 hours after the match/event is finished.</p>
<ol start="14">
<li><strong>VOID BET </strong></li>
</ol>
<p>"Void Bet" means the bet is nul or invalid. This occurs when an event is postponed/cancelled, or when it has started but not finished within the period specified in our policy. If a game has been cancelled or postponed there is always a 24 hours wait until the match will be set as void. Once the match has been set as void (with odd 1.00) the rest of the winning ticket will then be paid out.</p>
<p>If a selection in a single bet is made void the stake will be returned.</p>
<p>Void selections in multiple bets will be treated as non-runners and the stake will run onto the remaining selections in the bet.</p>
<ol start="15">
<li><strong>WITHHOLDING PAYMENT AND OUR RIGHT TO SET OFF LIABILITY</strong></li>
</ol>
<p>We reserve the right to withhold payment and to declare bets on an event void if we have evidence that the following has occurred:</p>
<p>- the integrity of the event has been called into question</p>
<p>- the price(s) or pool has been manipulated</p>
<p>- match rigging has taken place</p>
<p>Evidence of the above may be based on the size, volume or pattern of bets placed with us across any or all of our betting channels. A decision given by the relevant governing body of the sport in question (if any) will be conclusive. If any customer owes any money to ScorePesa for any reason, we have the right to take that into account before making any payments to that customer.</p>
<ol start="16">
<li><strong>90-MINUTE FOOTBALL BETS </strong></li>
</ol>
<p>What is meant by '90-minute Betting', 'Full Time' and 'Normal Time'?</p>
<p>Adult football matches are played over a 90-minute period, and this period can be called '90-minutes', 'Full Time' or 'Normal Time'. All football bets, unless specifically stating they are for Outright, To Qualify, Extra Time or Penalties markets, will be settled on the result after Normal Time (90 minutes).</p>
<p>During the game, the referee may stop the game for short periods for substitutions, or if a player gets injured, and at the end of each 45-minute half the referee adds however many minutes he feels is required to account for any of these stoppages. This additional time is called "Injury time".</p>
<p>Full Time and Normal Time are terms for the full 90-minute period, plus any 'Injury Time' that the referee chooses to add. Full Time and Normal Time DO NOT include Extra Time.</p>
<p>Some matches may have a FT period of eighty (80) minutes or LESS as per e.g. FIFA regulations such matches include; U/16, U/17, Women Seniors etc.</p>
<ol start="17">
<li><strong>ABANDONED MATCHES</strong></li>
</ol>
<p>If a match is abandoned after it has commenced, all bets on that match will be made void except where settlement has already been determined. For example, where the first goal has been scored by a named player the First Goal scorer and Time of First Goal markets, amongst others, will stand.</p>
<ol start="18">
<li><strong>POSTPONED/RE-ARRANGED MATCHES</strong>&nbsp;</li>
</ol>
<p>A postponed match is void unless it is re-scheduled to commence within 24 hours of the original start time and this is confirmed within 12 hours of the original start time. In such circumstances where (a) void match(es) is/are included in an accumulator the bet will be settled on the remaining selections.</p>
<ol start="19">
<li><strong>PRICES SUBJECT TO FLUCTUATION</strong></li>
</ol>
<p>All prices are subject to fluctuation up to the kick-off. All football bets will be settled using ScorePesa online (www.scorepesa.co.ke ) prices at the time the bet is placed.</p>
<ol start="20">
<li><strong>RELATED CONTINGENCIES IN ONE MATCH</strong></li>
</ol>
<p>Where we offer various betting opportunities from the same match (e.g. correct score, first player to score etc.) these cannot be combined in accumulative bets where the outcome is related (except where special fixed prices are available).</p>
<p>Where an accumulative bet of this type has been accepted in error it will be settled by equally dividing the stake unit where the related outcomes clash.</p>
<ol start="21">
<li><strong>RESULTS</strong></li>
</ol>
<p>If the result is not immediately available from an official channel, then the result published by the official governing body immediately the match/event is finished will be used for settling purposes.</p>
<p>Any subsequent corrections or amendments to this result will not apply for settlement purposes. ScorePesa will settle all bets rapidly but because of time differences, for some events, bets may be settled overnight or with some delay.</p>
<ol start="22">
<li><strong>MAXIMUM PAYOUTS</strong></li>
</ol>
<p>(a) Minimum Bet Amount: The minimum betting amount for a single/multi bet is ksh50</p>
<p>(b) Maximum Bet Amount: The maximum betting amount for a single/multi bet is ksh10,000.</p>
<p>(c) Maximum Single Bet Winning: The Single bet winning amount is limited to ksh20,000</p>
<p>(d) Maximum Multi bet Winning: The Multi bet winning amount is limited to ksh20,000</p>
<p>(e) Maximum Aggregate Winning (maximum payout): The Maximum winnings amount per customer per day is limited to ksh20,000</p>
<ol start="23">
<li><strong>ACCOUNT CLOSURE/FREEZE</strong></li>
</ol>
<p>We reserve the right to close/freeze any customer account or refuse to take bets from any customer. In this event of account closure, the full value of any customer funds will be returned as soon as applicable</p>
<p>Should you attempt to withdraw funds that were deposited but not used for wagering, the Company may levy a processing fee of 10% upon such withdrawals. Additionally, should these transactions be deemed suspicious, the Company will report the activity to the appropriate authority and the player may lose these funds.</p>
<ol start="24">
<li><strong>BETTING PROCEDURES </strong></li>
</ol>
<p><strong>Anyone above 18years of age</strong> can play as many times as they desire but within the daily limits on bet values and payouts set aside in our Terms and Conditions&nbsp;</p>
<p><strong>Registration: </strong>Simply SMS &ldquo;ScorePesa&rdquo; to <strong>29008</strong>. You will receive a confirmation message from 29008 confirming that you are now registered and ready to bet.</p>
<p><strong>ScorePesa Account Top-up: </strong>To top up your ScorePesa Account, go to the Mpesa Menu, Lipa na Mpesa, go to pay bill number enter business number 290080, account no. ScorePesa and enter the amount you wish to deposit. You can also deposit online at www.scorepesa.co.ke. Once you&rsquo;ve logged in, click on &lsquo;Deposit&rsquo;, enter amount and then click on &lsquo;Top Up Now&rsquo;.</p>
<p><strong>Balance: </strong>To check your balance, SMS the word BALANCE to 29008. To check your bonus balance, SMS the word BONUS to 29008.</p>
<p><strong>Placing Bets: </strong></p>
<p>The minimum bet amount is Ksh 50 and the maximum limit is set in the terms and conditions.</p>
<p>There are three possible results in any football match:</p>
<p>1 - Home Team wins</p>
<p>X - Draw result</p>
<p>2 - Away Team wins</p>
<p>To bet on your team, SMS ScorePesa to 29008 and you will receive current football match fixtures and their ODDS. To receive more games simply SMS ScorePesa to 29008. The more you SMS the more games you receive.</p>
<p>You can also visit the ScorePesa website www.scorepesa.co.ke and identify the game you wish to bet on.</p>
<p><strong>Types of bets: </strong></p>
<p><strong>Single Bet: </strong>Place bet in this format; GAMEID#PICK#AMOUNT</p>
<p>e.g. GAMEID 123 Arsenal vs Liverpool ODDS (1=2.54 X=3.47 2=3.10)</p>
<p>to bet on this match, SMS 123#1#200 to 29008</p>
<p><strong>Multi Bet: </strong>Place bet in this format; GAMEID#PICK#GAMEID#PICK#AMOUNT</p>
<p>e.g. GAMEID 123 Arsenal vs Liverpool ODDS (1=2.54 X=3.47 2=3.10)</p>
<p>GAMEID 456 Manchester United vs Chelsea ODDS (1=2.87 X=4.13 2=3.90)</p>
<p>to bet on this match, SMS 123#1#456#X#200 to 29008</p>
<p><strong>Double Chance (DC): </strong>Possible outcomes &ndash; 12, 1X, X2 Pick Format: DC12 DC1X DCX2</p>
<p>GAMEID 123 Arsenal vs Liverpool ODDS (1=2.54 X=3.47 2=3.10)</p>
<p>Single Bet - Place bet in this format: GAMEID#PICK#AMOUNT</p>
<p>E.g. 123#DC1X#200</p>
<p>GAMEID 123 Arsenal vs Liverpool ODDS (1=2.54 X=3.47 2=3.10)</p>
<p>GAMEID 456 Manchester United vs Chelsea ODDS (1=2.87 X=4.13 2=3.90)</p>
<p>Multi Bet - Place bet in this format: GAMEID#PICK#AMOUNT</p>
<p>E.g. 123#DC1X#456#DC12#200</p>
<p><strong>Goal Goal (GG) </strong>Both teams score</p>
<p><strong>No Goal (NG) </strong>No team scores:</p>
<p>GAMEID 123 Arsenal vs Liverpool ODDS (1=2.54 X=3.47 2=3.10)</p>
<p>Single Bet - Place bet in this format: GAMEID#PICK#AMOUNT</p>
<p>E.g. 123#GG#200</p>
<p>123#NG#200</p>
<p>GAMEID 123 Arsenal vs Liverpool ODDS (1=2.54 X=3.47 2=3.10)</p>
<p>GAMEID 456 Manchester United vs Chelsea ODDS (1=2.87 X=4.13 2=3.90)</p>
<p>Multi Bet - Place bet in this format: GAMEID#PICK#AMOUNT</p>
<p>E.g. 123#GG#456#NG#200</p>
<p><strong>Over &amp; Under 1.5/2.5/: </strong></p>
<p><strong>Over 2.5 (ov25) </strong>over 2 goals scored</p>
<p><strong>Under 2.5 (un25) </strong>under 2 goals scored</p>
<p>GAMEID 123 Arsenal vs Liverpool ODDS (1=2.54 X=3.47 2=3.10)</p>
<p>Single Bet - Place bet in this format: GAMEID#PICK#AMOUNT</p>
<p>E.g. 123#ov25#200 123#un25#200</p>
<p>GAMEID 123 Arsenal vs Liverpool ODDS (1=2.54 X=3.47 2=3.10)</p>
<p>GAMEID 456 Manchester United vs Chelsea ODDS (1=2.87 X=4.13 2=3.90)</p>
<p>Multi Bet - Place bet in this format: GAMEID#PICK#AMOUNT</p>
<p>E.g. 123#ov25#456#un25#200</p>
<p><strong>Halftime/Fulltime </strong></p>
<p>GAMEID#HtFt(Halftime Pick Fulltime Pick)#AMOUNT</p>
<p>GAMEID 123 Arsenal vs Liverpool ODDS (1=2.54 X=3.47 2=3.10)</p>
<p>123#HtFtX1#100</p>



<p><strong>Jackpot </strong></p>
<p>
	 The player has to predict the Combo 1 (Home) X (Draw) 2 (Away) and Under 2.5 Or Over 2.5. There will be for 7 matches to predict on a Weekly basis.
</p>

<p><strong>Winnings </strong></p>
<p> The Weekly Jackpot winner(s) will share a prize of KES 1,000,000 guaranteed. If there is no winner then the Jackpot prize will remain as KES 1,000,000. The Jackpot prize will revert to Kshs 1,000,000 every Monday.</p>

<p><strong>Price per Bet </strong></p>
<p> The minimum price per bet is Kshs 30.</p>

<p><strong>Betting via SMS</strong></p>

<p> In the Weekly Millionaire Jackpot there are 6 selections: </p>

<ol>
<li>Home Win and over 2.5 goals -> 1O</li>
<li>Home Win and under 2.5 goals -> 1U</li>
<li>Draw and over 2.5 goals -> XO</li>
<li>Draw and under 2.5 goals -> XU</li>
<li>Away Win and over 2.5 goals -> 2O</li>
<li>Away Win and under 2.5 goals -> 2U</li>
</ol>

<p>If a player wants to participate with a simple stake via SMS, then He/She has to make his prediction in this format i.e. WJP#1O1U2UXO1OXO1O.</p>

<p>When playing online, simply click on your desired selection and it shall be highlighted.</p>

<p>Draw will be held at the end of the final match and results will be published on the site, in your online Bet Slip and on social media pages.</p>

<p>All payouts will be instant to player’s wallets.</p>

<p>Jackpot winners will be contacted for more efficient payout modes.</p>

<p>Withdrawal limits are as set in the terms and conditions.</p>

<p><strong>Winners&rsquo; Notification: </strong>Winners will receive an SMS notification of their winnings and have it deposited in their ScorePesa account a few minutes after the game ends. The extra minutes allows us to validate the results and post them on our website www.scorepesa.co.ke</p>
<p><strong>Withdraw: </strong>To withdraw, send WITHDRAW#AMOUNT to 29008. You can also withdraw on www.scorepesa.co.ke. Once you are logged in, click on withdraw, enter amount and click on &lsquo;withdraw now&rsquo;. Minimum withdrawal amount is Kshs. 50. Kindly note you are not able to withdraw your bonus. Withdrawal charges are as follows:</p>
<p>50 &ndash; 1,000 (15) 1,001 &ndash; 2,500 (25) 2,501 &ndash; 70,000 (33)</p>
<ol start="25">
<li><strong>BONUS</strong></li>
</ol>
<p>ScorePesa bonus scheme is currently available for the following users:</p>
<ol>
<li>Top Up Bonus. Top up over Kshs. 200 and get Kshs. 50 bet bonus.</li>
<li>Referral bonus of Kshs. 50 will be given to users who refer their friends to ScorePesa by sending ACCEPT#FRIEND&rsquo;S NUMBER to 29008. Those referred are required to fund their accounts within 48hrs to enable the referrer earn their bonus.</li>
<li>Apart from Jackpot Bonus, any other bonus awarded cannot be withdrawn. However, bonus winnings derived from the bets placed successfully with the bonus can be withdrawn.</li>
<li>When a customer earns bonus from their deposits or topping up their ScorePesa account, they have to bet with their deposited amount to enjoy their bonus. If they want to withdraw their deposited cash without betting, they can withdraw their money and forfeit the bonus amount earned by that money.&nbsp;</li>
</ol>

<ol start="26">
<li><strong> Bet Limits</strong>&nbsp;</li>
</ol>

<ol>
<li> A number of bets may be treated as being one when a client places multiple copies of the same bet. When this occurs all bets may be voided apart from the first bet struck. A number of bets that contain the same single selection may be treated as being one. When this occurs all bets may be voided apart from the first bet struck. An example would be where 1 particular selection is repeatedly included in multiple bets involving other short-priced selections. </li>
<li>Where there is evidence of a series of bets each containing the same (or very similar) selection(s) having been placed by or for the same individual or syndicate or individuals, the Company reserves the right to make bets void. </li>
<li>If you have played in a professional capacity, or in tandem with other player(s) as part of a club, group, etc., or placed bets or wagers in a coordinated manner with other player(s) involving the same (or materially the same) selections; in this instance we further reserve the right, at our sole discretion, to restrict the total maximum pay out for the combined total of any such bets, to the equivalent of the maximum payout limits permitted for a single customer (as outlined in the Company’s general Terms and Conditions). ScorePesa is for sole use on an individual basis and for personal entertainment only.</li>
</ol>

<ol start="27">
<li><strong> ALTERATION OF THE WEBSITE</strong>&nbsp;</li>
</ol>
<p>ScorePesa may, in our absolute discretion, alter or amend any product or service (including any prices offered) available through the website (www.scorepesa.co.ke) at any time for the purpose of ensuring the ongoing provision of the website, but without prejudice to any games and/or bets already in progress at the time of such amendment. From time to time, we may restrict you from accessing some parts of the website for the purpose of maintenance of the website and/or alteration or amendment of any of the games and/or products available through the website.</p>
<p><strong><em>General Disclaimer</em></strong></p>
<p>The purpose of this website is to provide information about the live betting market.&nbsp;<br /> <br /> Nothing on this website should be regarded as either betting advice or encouragement to engage in live betting.</p>
<p>Gambling is very risky and careless gambling can result in the loss of substantial sums of money.</p>
<p><strong>We provide absolutely no guarantees, either expressly or implied, that using the information on this site will either help you make money, or prevent you from losing money.</strong></p>
<p>No person or entity connected with this website shall have any liability for any losses (monetary or other) incurred through either use or miss-use of the information published on this website.</p>
<p>Viewing any page on the scorepesa.co.ke website indicates that you have read, understood and accepted the terms and conditions stated above.</p>
<p><strong>Underage clients will have their accounts closed immediately and any balances forfeited</strong></p>

<ol start="28">
<li><strong>PROMOTIONAL SMS</strong>&nbsp;</li>
</ol>
ScorePesa sms’ are meant for transactional purposes whereby they come automated as a response. But for any promotional sms’ to opt out sms STOP to 29008
            
        </section>
