@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

/*
 * Application level styles
 * (things that dont make sense in a toolkit :)
 * copyright @colossal 2015
 */


/* docs overrides */

.bet-body {
    max-height: 310px;
    font-size: 13px;
    overflow-y: scroll;
}

.homepage {
    background: #0d0d19;
}
.picked {
    background: #FFF !important;
    color: #101721 !important;
    border: none;
}
.betslip {
    padding-top:0px ;
        font-size: 14px;
}


#quick-login {
    background: #1d1d56;
    padding: 8px 8px 10px;
    display: none;
    overflow: auto;
    width: 100%;
}

#quick-login .form-control:focus {
    background-color: #fff;
}

#quick-login p {
    color: #fff;
}
#quick-login a {
    color: #FFFFFF;
    border-bottom: 1px solid #fff;
}
.betslip-error {
    display: none;
}

.topl {
    padding: 2px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}